# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]
  schedule:
    - cron: "0 6 * * 1-5"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  ci:
    name: Build on ${{ matrix.os }}
    runs-on: [ "${{ matrix.os }}" ]
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macOS-latest ]

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11

      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r26
          add-to-path: false
#          local-cache: true
          link-to-sdk: true

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          override: true
          components: rustfmt, clippy

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Clippy Check
        working-directory: zenoh-jni
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Cargo Format
        working-directory: zenoh-jni
        run: cargo fmt --all --check

      - name: Cargo Build
        working-directory: zenoh-jni
        run: cargo build --verbose

      - name: Gradle Test
        run: gradle jvmTest --info
