name: Publish (Android)

on:
  workflow_call:
    inputs:
      snapshot:
        required: true
        type: boolean
        description: "If the publication is for a snapshot version."
        default: false
      branch:
        description: Target branch
        type: string
        required: false
      github_publish:
        type: boolean
        required: false
        default: true
      maven_publish:
        type: boolean
        required: false
        default: true
  workflow_dispatch:
    inputs:
      github_publish:
        description: 'Publish to github packages'
        default: true
      maven_publish:
        description: 'Publish to Maven Central'
        default: true

env:
  CARGO_TERM_COLOR: always

jobs:
  publish_android_package:
    name: Publish Android package
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11

      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r26
          add-to-path: false
          link-to-sdk: true

      - name: Install Rust toolchain
        run: |
          rustup show
          rustup component add rustfmt clippy

      - name: Setup Rust toolchains
        run: |
          rustup target add armv7-linux-androideabi
          rustup target add i686-linux-android
          rustup target add aarch64-linux-android
          rustup target add x86_64-linux-android

      - name: Gradle Wrapper
        run: |
          gradle wrapper

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v3

      - name: Set pub mode env var
        # Note: This step is intended to allow publishing snapshot packages.
        # It allows to optionally append the property -PSNAPSHOT to the gradle
        # publication task on the next step, resulting in the package version
        # following the convention '<version>-SNAPSHOT'.
        run: |
          if [[ "${{ inputs.snapshot }}" == "true" ]]; then
            echo "PUB_MODE=-PSNAPSHOT" >> $GITHUB_ENV
          fi

      - if: ${{ github.event.inputs.github_publish == 'true' }}
        name: Gradle Publish Android Package to GitHub packages repository
        run: ./gradlew publishAndroidReleasePublicationToGithubPackagesRepository -PremotePublication=true -Pandroid=true ${{ env.PUB_MODE }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ORG_GPG_KEY_ID: ${{ secrets.ORG_GPG_KEY_ID }}
          ORG_GPG_SUBKEY_ID: ${{ secrets.ORG_GPG_SUBKEY_ID }}
          ORG_GPG_PRIVATE_KEY: ${{ secrets.ORG_GPG_PRIVATE_KEY }}
          ORG_GPG_PASSPHRASE: ${{ secrets.ORG_GPG_PASSPHRASE }}

      - if: ${{ github.event.inputs.maven_publish == 'true' }}
        name: Gradle Publish Android Package to Maven Central repository
        run: ./gradlew publishAndroidReleasePublicationToMavenCentralRepository -PremotePublication=true -Pandroid=true ${{ env.PUB_MODE }}
        env:
          ORG_OSSRH_USERNAME: ${{ secrets.ORG_OSSRH_USERNAME }}
          ORG_OSSRH_PASSWORD: ${{ secrets.ORG_OSSRH_PASSWORD }}
          ORG_GPG_KEY_ID: ${{ secrets.ORG_GPG_KEY_ID }}
          ORG_GPG_SUBKEY_ID: ${{ secrets.ORG_GPG_SUBKEY_ID }}
          ORG_GPG_PRIVATE_KEY: ${{ secrets.ORG_GPG_PRIVATE_KEY }}
          ORG_GPG_PASSPHRASE: ${{ secrets.ORG_GPG_PASSPHRASE }}
