name: Publish (Android)

on:
  workflow_call:
    inputs:
      snapshot:
        required: true
        type: boolean
        description: "If the publication is for a snapshot version."
        default: false
      branch:
        description: Target branch
        type: string
        required: false
      debug:
        description: If true, pass --debug flag to gradle
        type: boolean
        required: false
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  publish_android_package:
    name: Publish Android Package to Github Packages
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11

      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r26
          add-to-path: false
          link-to-sdk: true

      - name: Install Rust toolchain
        run: |
          rustup show
          rustup component add rustfmt clippy

      - name: Setup Rust toolchains
        run: |
          rustup target add armv7-linux-androideabi
          rustup target add i686-linux-android
          rustup target add aarch64-linux-android
          rustup target add x86_64-linux-android

      - name: Gradle Wrapper
        run: |
          gradle wrapper

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v3

      - name: Set pub mode env var
        # Note: This step is intended to allow publishing snapshot packages.
        # It allows to optionally append the property -PSNAPSHOT to the gradle
        # publication task on the next step, resulting in the package version
        # following the convention '<version>-SNAPSHOT'.
        run: |
          if [[ "${{ inputs.snapshot }}" == "true" ]]; then
            echo "PUB_MODE=-PSNAPSHOT" >> $GITHUB_ENV
          fi

      - name: Set debug env var
        run: |
          if [[ "${{ inputs.debug }}" == "true" ]]; then
            echo "DEBUG=--debug" >> $GITHUB_ENV
          fi

      - name: Gradle Publish Android Package to GitHub packages repository
        run: ./gradlew publishAndroidReleasePublicationToGithubPackagesRepository -PremotePublication=true -Pandroid=true ${{ env.PUB_MODE }} ${{ env.DEBUG }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ORG_GRADLE_PROJECT_githubPackagesUsername: ${{ env.GITHUB_ACTOR }}
          ORG_GRADLE_PROJECT_githubPackagesPassword: ${{ secrets.GITHUB_TOKEN }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.ORG_GPG_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.ORG_GPG_SUBKEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.ORG_GPG_PASSPHRASE }}

      - name: Gradle Publish Android Package to Maven Central repository
        run: ./gradlew publishAndroidReleasePublicationToMavenCentralRepository -PremotePublication=true -Pandroid=true ${{ env.PUB_MODE }} ${{ env.DEBUG }}
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.ORG_OSSRH_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.ORG_OSSRH_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.ORG_GPG_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.ORG_GPG_SUBKEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.ORG_GPG_PASSPHRASE }}